# compiled output
/build
/dist
.env
.todo

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
node_modules
.DS_Store
.env*
.flaskenv*
!.env.project
!.env.vault
!.env.example
app.todo
package-lock.json
yarn.lock

public/docs/**/*

src/swagger/docs/**/*

tsconfig.tsbuildinfo

backup/**/*